header {
	padding: 20px 0;
	border: solid;
	border-radius: 15px 15px;

}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;


}

nav li {
	display: inline;
	margin: 0 0 0 15px;

}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;



}

nav a:hover {

	color: #C78C19;
	text-decoration: underline;
	font-size: 18px;
}
.contexto{
	background: #000000;
	border-radius: 10px 10px;
}

.titulo {

	text-align: center;
	text-decoration: underline;
	color: white

}

.text {

	color:white;

}

.descricao {

	margin-left: 50px;
	margin-right: 50px;
	color: white;

}

.texto1 {
	text-align: center;
	text-decoration: underline;

}


.localização {
	text-align: center;
	display: inline;
	width: 50% ;
 
	

}